<div class="page-layout plain overflow-hidden pb-8">
    <div class="header blue"></div>
    
    <div class="content">
      <div class="content-header blue p-24" fxLayout="row wrap" fxLayoutAlign="start center">
        <h1 class="text-white m-0 px-24">الادارة العامة لتكنولوجيا المعلومات </h1>
      </div>
  
      <div class="content-body p-24">
        <mat-card>
          <div fxLayout="row wrap" class="mb-24">
            <div>
                <img mat-card-image src="assets/Hierarchy/{{imgname}}.jpg" alt="Photo of a Shiba Inu">
            </div>
          </div>
        </mat-card>
      </div>
  
    </div>
  
  </div>