.page-layout .content-header {
    height: 100px;
}
.mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }
  
  .mat-cell {
    text-align: center;
    justify-content:center;
  }