<mat-table [dataSource]="dataSource" matSort class="default-table mat-box-shadow" style="width: 100%">

    <ng-container matColumnDef="receiptNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>رقم الايصال</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="receiptNo"> {{row.receiptNo}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ReportImg">
      <mat-header-cell *matHeaderCellDef mat-sort-header>نوع الملف</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-sm-button  (click)="openPopUp(row.receiptNo,'reportImg',colName.reportImg)">
          {{colName.reportImg}}
        </button>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="NationalImg">
      <mat-header-cell *matHeaderCellDef mat-sort-header>نوع الملف</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-sm-button  (click)="openPopUp(row.receiptNo,'nationalImg',colName.nationalImg)">
          {{colName.nationalImg}}
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DocumentImg">
      <mat-header-cell *matHeaderCellDef mat-sort-header>نوع الملف</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-sm-button  (click)="openPopUp(row.receiptNo,'documentImg',colName.documentImg)">
          {{colName.documentImg}}
        </button>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ReceiptImg">
      <mat-header-cell *matHeaderCellDef mat-sort-header>نوع الملف</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button mat-sm-button  (click)="openPopUp(row.receiptNo,'receiptImg',colName.receiptImg)">
          {{colName.receiptImg}}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="deleteReceipt(row.receiptNo)"  color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displaySPreviewColumns"></mat-header-row>
  
    <mat-row *matRowDef="let row; columns: displaySPreviewColumns;">
    </mat-row>
  </mat-table>